.App {
  text-align: center;
}

.App-header {
  display: inline;
  color: white;
}

.App-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 40px; 
  padding-bottom: 40px;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.App-link {
  color: #61dafb;
}
